<% provide(:title, "Sign in") %>

<div class="row">
  <div class="col s6 card-panel white offset-s3">
      <div class="card-title">
            <h5> Вхід </h5>
      </div>
    <%= form_for(:session, url: sessions_path) do |f| %> <!-- session_path - post(create) -->

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Увійти", class: "btn btn-large btn-primary" %>
      <%= f.check_box :is_firm %>
      <%= f.label :is_firm,"Компанія?" %>
    <% end %>

    <p>Ще не реєструвались?  <%= link_to "Зареєструватися!", signup_path %></p>
  </div>
</div>