<% provide(:title, "Home") %>
<%= javascript_include_tag "custom", "data-turbolinks-track" => true %>
<%= render 'layouts/header_home' %>
<div class="row section">
	<%= image_tag("carousel_1.jpg",class: "menu-pict") %>
</div> 
<div class="row section about">
		<section id="about">
			<center>
				<h1> About us</h1>
			</center>
		</section>
</div>
<div class="row section sign">
		<section id="sign">
				<center>
					<h1> Sign up </h1>
					<%= link_to("Sign up",signup_path,class: "waves-effect waves-light btn") %>
				</center>

				
		</section>
</div>
<div class="row section stat">
	<section id="stat">
			<center>
				<h1> Statistics </h1>
				<%= image_tag("diagr_1.png")%>
				<%= image_tag("diagr_2.png")%>
			</center>
	</section>
</div>
<div class="row section contacts">
	<section id="contacts">
			<center>
				<h1> Contact us </h1>
			</center>
		</section>
	<center>
</div>
<%= render("layouts/footer_home") %>