<% provide(:title, "Home") %>
<%= javascript_include_tag "custom", "data-turbolinks-track" => true %>
<%= render 'layouts/header_home' %>
 
 <div class="row slider">
    <ul class="slides">
      <li>
        <img src="desk_1.png" />
        <div class="caption left-align">
          <h3>Check your competence!</h3>
          <h5 class="light grey-text text-lighten-3">Оцінка базових та професіональних компетенцій співробітників.</h5>
        </div>
      </li>
      <li>
        <%= image_tag("carousel_2.jpg") %>
        <div class="caption left-align">
          <h3>Оцінка у реальному часі</h3>
          <h5 class="light grey-text text-lighten-3">Проходячи наші завдання ви оцінюєте свої можливості саме зараз.</h5>
        </div>
      </li>
      <li>
        <%= image_tag("carousel_3.jpg") %>
        <div class="caption left-align">
          <h3>Smart система</h3>
          <h5 class="light grey-text text-lighten-3">Здатність детально оцінити на що ви спроможні та побудувати подальший шлях розвитку.</h5>
        </div>
      </li>
    </ul>
  </div>
<div class="row section about">
		<section id="about">
			<center>
				<h1> Про нас</h1>
			</center>
			<div class="row">
				<div class="col s8 offset-s2">
					<div class="card-panel">
						<span class="grey-text text-darken-2">
							Наш сервіс "Check Your Competence" надає можливість для перевірки власних знань та вмінь на великій базі даних тестів та задач. База розміщує у собі великий обсяг різноманітних завдань, які були розподілені на наступні категорії:
							<blockquote>
								<li>Тести на логіку</li>
								<li>Тести на знання мов програмування</li>
								<li>Вправи на перевірку знань ООП</li>
								<li>Оцінка навичок IT-спеціаліста</li>
							</blockquote>
							З часом, можливості нашої системи будуть розширюватися. Слідкуйте за оновленнями!
						</span>
					</div>
				</div>
			</div>	
		</section>
</div>

<div class="row section about">
		<section id="companies">
			<center>
				<h1>Для компаній</h1>
			</center>
			<div class="row">
				<div class="col s8 offset-s2">
					<div class="card-panel">

						<div class="card-content">
							<span class="grey-text text-darken-2">
								Ми маємо декілька пропозицій для корпоративних клієнтів: 
								<blockquote>
									<li>Тестування майбутніх співробітників</li>
									<li>Завантаження власної бази завдань</li>
									<li>Зберігання резюме кожного робітника</li>
								</blockquote>
							</span>
						</div>
					</div>
				</div>
			</div>	
		</section>
</div>

<div class="row section stat">
<section id="stat">
	<center>
		<h1>Статистика</h1>
	</center>
<div class="row">

        <div class="col s4 offset-s2">
          <div class="card">
            <div class="card-image">
              <%= image_tag("rad.png") %>
              	<span class="card-title">
              		<div class="card-content black-text">Загальні результати </div>
              	</span>  
            </div>
            <div class="card-action">
              <p>Результати тестування користувачів за період експлуатації сервісу</p>
            </div>
          </div>
        </div>

        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <%= image_tag("pos.png") %>
              	<span class="card-title">
              		<div class="card-content black-text">Статистика реєстрації користувачів</div>
              	</span>  
            </div>
            <div class="card-action">
              <p>Загальні результати наших користувачів на проміжку з березня по травень</p>
            </div>
          </div>
        </div>
</div>

<div class="row">

        <div class="col s4 offset-s2">
          <div class="card">
            <div class="card-image">
              <%= image_tag("sex.png") %>
              	<span class="card-title">
              		<div class="card-content black-text">Розподіл за статтю</div>
              	</span>  
            </div>
            <div class="card-action">
              <p>Розподіл зареєстрованих користувачів за статтю</p>
            </div>
          </div>
        </div>

        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <%= image_tag("vik.png") %>
              	<span class="card-title">
              		<div class="card-content black-text">Розподіл за віком</div>
              	</span>  
            </div>
            <div class="card-action">
              <p>Розподіл зареєстрованих користувачів за віком</p>
            </div>
          </div>
        </div>
</div>

</section>
</div>

<div class="row section sign">
		<section id="sign">
				<center>
					<h1> Реєстрація </h1>
					<%= link_to("Зареєструватися!",signup_path,class: "waves-effect waves-light btn-large") %>
					<%= link_to("Реєстрація компанії",companiessignup_path,class: "waves-effect waves-light btn-large") %>
				</center>	
		</section>
</div>

<div class="row section contacts">
	<section id="contacts">
			<center>
				<h1> Зв'яжіться з нами </h1>
			</center>
		</section>
	<center>
</div>

<%= render("layouts/footer_home") %>