<% provide(:title, "Home") %>
<%= javascript_include_tag "custom", "data-turbolinks-track" => true %>
<%= render 'layouts/header_home' %>
 <div class="slider row section">
    <ul class="slides">
      <li>
        <%= image_tag('carousel_1.jpg') %>
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <%= image_tag('carousel_2.jpg') %>
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <%= image_tag('carousel_3.jpg') %>
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
<div class="row section about">
		<section id="about">
			<center>
				<h1> About us</h1>
			</center>
		</section>
</div>
<div class="row section sign">
		<section id="sign">
				<center>
					<h1> Sign up </h1>
					<%= link_to("Sign up",signup_path,class: "waves-effect waves-light btn") %>
				</center>

				
		</section>
</div>
<div class="row section stat">
	<section id="stat">
			<center>
				<h1> Statistics </h1>
				<%= image_tag("diagr_1.png")%>
				<%= image_tag("diagr_2.png")%>
			</center>
	</section>
</div>
<div class="row section contacts">
	<section id="contacts">
			<center>
				<h1> Contact us </h1>
			</center>
		</section>
	<center>
</div>
<%= render("layouts/footer_home") %>