<% provide(:title, "Home") %>
<%= render 'layouts/header_home' %>
<div class="img_block">
      <a href="#" class="content_block">	
      	<%= image_tag("carousel_1.jpg")%>
     	<div class="over_block"></div>
        <span>You can test your skills now</span>
      </a>
</div>
<div class="about">
		<section id="about">
			<center>
				<h1> About us</h1>
			</center>
		</section>
</div>
<div class="sign">
		<section id="sign">
			<center>
				<h1> Sign in </h1>
				<ul class="demo-2 effect">
    				<li>
       					<h2 class="zero">This is a cool title!</h2>
       					<p class="zero">Lorem ipsum dolor sit amet.</p>
    				</li>
    				<li><%= image_tag("image1.jpg",class: "top") %></li>
				</ul>

			</center>
		</section>
</div>
<div class="stat">
	<section id="stat">
			<center>
				<h1> Statistics </h1>
				<%= image_tag("diagr_1.png")%>
				<%= image_tag("diagr_2.png")%>
			</center>
	</section>
</div>
<div class="contacts">
	<section id="contacts">
			<center>
				<h1> Contact us </h1>
			</center>
		</section>
	<center>
</div>
