<% provide(:title, 'Реєстрація користувача') %>

<div class="row">
  <div class="col s6 card-panel white offset-s3">
    <div class="card-title">
            <h5> Реєстрація нового користувача</h5>
    </div>
    <%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages_user' %> <!-- Rendering error messages -->
    <div>
      <%= f.label :name, "Ім’я" %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
<!--
    <div>
      <%= f.label :birthday, "Дата народження:" %>
      <%= f.text_field :birthday, type: "date", class: "datepicker"%>
    </div> -->

    <div>
      <%= f.label  :speciality, "Спеціальність:" %> </br>
      <%= f.select :speciality, user_speciality, class: "select", :prompt => "Оберіть спеціальність..."%>
    </div>

    <div>
      <%= f.label  :year_of_education, "Рік навчання:" %> </br>
      <%= f.select :year_of_education, user_education, class: "select", :prompt => "Оберіть поточний курс..."%>
    </div>

    <div>
      <%= f.label :password,"Пароль" %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation, "Підтвердження паролю" %>
      <%= f.password_field :password_confirmation %>
    </div>
    
       <%= f.submit "Зареєструватися", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>