<% provide(:title, @user.name) %>


<div class="row">
  <nav class="col s2 cyan darken-3 left-navbar">
  	<div class="row">
  	  <%= image_tag("male.png",class: "circle responsive-img") %>
  	</div>
      <h4 class="center-align">
        <%= @user.name %>
      </h2>
      <div class="items-content">
      <ul>
      	<li><%= link_to "Мій профіль","#"%></li><br>
      	<li><%= link_to "Пробне тестування","#"%></li><br>
      	<li><%= link_to "Моя статистика","#"%></li><br>
        <li><%= link_to "Усі користувачі", users_path %></li><br>
      	<li><%= link_to "Оцінка компетенцій","#"%></li><br>
        <li><%= link_to("Вихід",signout_path,method: 'delete',class: "user-sign-in") %></li>
      </ul>
      </div>
    </nav>

    <div class="col s10">
      <div class="card white">
        <div class="card-content dark-text">
            <span class="card-title black-text">
              Ласкаво просимо до Вашого особистого кабінету,  <%= @user.name %>!
            </span>
          <p>Тут ви зможете ознайомитись з тестуванням, налаштуваннями профілю та особистими результатами.</p><br>

          <div class="row">
            <div class="col s4">
              <div class="center promo">
                <div class="circle responsible-img">
                  <i class="mdi-toggle-check-box"></i>
                </div>
                <p class="promo-caption">Зручне тестування</p>
                <p class="light center">За допомогою нашої системи ви зможете оцінити рівень Ваших знань у вібраній області.</p>
              </div>
            </div>
            <div class="col s4">
              <div class="center promo promo-example">
                <i class="mdi-action-account-balance"></i>
                <p class="promo-caption">Зв’язок з компаніями</p>
                <p class="light center">Наша система забезпечую зв’язок користупачів безпосередньо з компаніями. </p>
              </div>
            </div>
            <div class="col s4">
              <div class="center promo promo-example">
                <i class="mdi-action-trending-up"></i>
                <p class="promo-caption"> Вдосконалення знань</p>
                <p class="light center"> Використовуючи нашу систему, Ви дізнаєтесь в яких областях вам необхіно покращити знання</p>
              </div>
            </div>
          </div>
      </div>
    </div>

    <ul class="collection with-header">
      <li class="collection-header"> Запрошення: </li>

      <% @invite.each do |inv| %>
        <li class="collection-item">
          <div>
            <span class="grey-text text-darken-3">
                    Завдання: <%= inv.task %> <%= inv.text %>
            </span>
                  <a href= "/promocodes/show" class="secondary-content">
              <%= image_tag("message.png", size: '20') %>
            </a>
          </div>
        </li>
      <% end %>
    </ul>

    </div>
</div>
