<% provide(:title, @user.name) %>
<div class="row">
  <nav class="col s2 cyan darken-3 left-navbar">
  	<div class="row">
  	  <%= image_tag("male.png",class: "circle responsive-img") %>
  	</div>
      <h4 class="center-align">
        <%= @user.name %>
      </h2>
      <div class="items-content">
      <ul>
      	<li><%= link_to "Мій профіль","#"%></li><br>
      	<li><%= link_to "Пробне тестування","#"%></li><br>
      	<li><%= link_to "Моя статистика","#"%></li><br>
      	<li><%= link_to "Оцінка компетенцій","#",class: "check-button"%></li><br>
      </ul>
      </div>
    </nav>
</div>