<% provide(:title, @company.name) %>
<%= render 'header_companies' %>

<!-- Left navigation bar START -->
<div class="row">
    <div class="col s3">
      <div class="card cyan darken-3">
          <div class="card-content white-text">
            <span class="card-title">
              <p><%= @company.name %></p>
            </span>
              Менеджер: <%= @company.manager %><br>
            <div class="card-action">
              <left>
                <a href="#">Остання статистика</a><br>
                <a href="#">Керування тестами </a><br>
                <a href="#">Співбесіди        </a><br>
                <a href="#">Сторінка компанії </a><br>
                <a href="#">Запрошення        </a><br>
                <br>
                <br>
                <br>
                <br>
              </left>
            </div>
            <div class="card-action">
              <left>
                <a href="#">Вихід             </a>
              </left>
            </div>
          </div>
      </div>
    </div>

  <div class="col s9">
      <div class="card white">
        <div class="card-content dark-text">
            <span class="card-title black-text">
              Welcome,  <%= @company.manager %>!
            </span>
          <p>This is your personal control page of <%= @company.name %> on our service.
          From this page you can control all your activities and settings. About situation where service has stopped unexpected, please, contact us!</p><br>

          <div class="row">
            <div class="col s4">
              <div class="center promo">
                <div class="circle responsible-img">
                  <%= image_tag("first.jpg", size: "175", class: "circle responsible-img")%>
                </div>
                <p class="promo-caption">Зручне тестування</p>
                <p class="light center">За допомогою нашої системи ви отримаєте значно спростите тестування нових співробітників!</p>
              </div>
            </div>
            <div class="col s4">
              <div class="center promo promo-example">
                <%= image_tag("second.jpg", size: "175", class: "circle responsible-img")%>
                <p class="promo-caption">Швидкі результати</p>
                <p class="light center">Більше непотрібно вручну перевіряти усі тести при прийомі на роботу нового робітника. </p>
              </div>
            </div>
            <div class="col s4">
              <div class="center promo promo-example">
                <%= image_tag("third.jpg", size: "175", class: "circle responsible-img")%>
                <p class="promo-caption">Легкий старт</p>
                <p class="light center">Спробуйте сотні вже готових тестових завдань, дбайливо бідготованих та відсортованих нами.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
