<div class="row">
	<div class="col s6 card-panel white offset-s3">
		<div class="card-title">
			<h5> Додати новий тест </h5>
		</div>
		<%= form_for(:test,url: tests_path) do |f| %>
			<%= f.label :question,"Питання" %>
			<%= f.text_field :question %>

			<%= f.radio_button(:right_answer, "1") %>
			<%= f.label(:right_answer_1,"1") %>
			<%= f.label(:answer1, "варіант відповіді") %>
			<%= f.text_field :answer1 %>

			<%= f.radio_button(:right_answer, "2") %>
			<%= f.label(:right_answer_2,"2") %>
			<%= f.label(:answer2,"варіант відповіді") %>
			<%= f.text_field :answer2 %>

			<%= f.radio_button(:right_answer, "3") %>
			<%= f.label(:right_answer_3,"3") %>
			<%= f.label :answer3,"варіант відповіді" %>
			<%= f.text_field :answer3 %>

			<%= f.radio_button(:right_answer, "4") %>
			<%= f.label(:right_answer_4,"4") %>
			<%= f.label :answer4,"варіант відповіді" %>
			<%= f.text_field :answer4 %>

			<%= f.submit "Завантажити у БД", class: "btn btn-large btn-primary" %>
			<p> Будь-ласка,не забудьте відмітити правильний варіант відповіді! </p> <%= link_to("На сторінку компанії",current_company) %>
		<% end %>
		<%= link_to "До кабінету", company_path(current_company.id), class: "blue-text text-darken-2"%>
	</div>

</div>
