<div class="col s2">
  <div class="card cyan darken-3">
      <%= image_tag("male.png",class: "circle responsive-img") %>
      <h4 class="center-align white-text">
        <%= @user.name %>
      </h4>

            <div class="card-action text-cyan lighten-5">
              <left>
                <%= link_to "Моя Анкета",   account_path            %> <br>
                <%= link_to "Тестування",   developpage_path        %> <br>
                <%= link_to "Запрошення",   invitations_path        %> <br>
                <%= link_to "Учасники",     users_path              %> <br>
              </left>
            </div>

            <div class="card-action">
              <left>
                <%= link_to("Вихід",signout_path,method: 'delete',class: "user-sign-in") %>
              </left>
            </div>
      </div>
</div>